.press-headline {
    
}

.press-image {
    height: 50%;
}

.press-date {
    
}

.press-detail {
   

}
.press-anchor {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

.press-grid {
    margin-top: 30px;
}

.image-col {
}

.text-col {
    
}
