#menu-item {
    margin-right: 8%;
    font-size:calc(6px + 1.6vw);
    color: white;
}

#app-container {
    background-color: #f4b37c;
    color: orangered;
}

.footer-custom {
    position: relative;
    left:0;
    bottom:0;
    width:100%;
    height:60px;  
    margin-top: 50px;
}

.footer-text {
    font-size: 14px;
    color: white;
    font-weight: 100;
}

@font-face {
    font-family: 'Bauhaus93';
    font-style: normal;
    font-weight: 400;
    src: url('./font/Bauhaus93.ttf');   
}

html, body {
    height: 100%;
}
body {
    background-color: #f4b37c;
    font-family: 'Bauhaus93';
}

.container-custom {
    background-color: #f4b37c;
    width: 100vw;
    min-height: 100vh;
    color: orange;
    text-align: center;
}

.subheader {
    margin-top: 30px;
    font-size:calc(16px + 2.5vw);
    color: yellow;
}

.nav-style-custom {
    justify-content: flex-start;
    text-align: center;
}

#band-logo {
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
#band-logo:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

#nav-brand-container {
    margin-right: 21%;
}


